/* General styling. */
html {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 61px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.column {
  width: 900px;
  margin: auto;
}

/* Mini column with reusable styling. */
.mini_column {
  float: left;
  width: 284px;
  margin: 8px;
  height: auto;
}
.mini_column_section  h3 {
  text-align: center;
  font-family: Scada;
  border-bottom: 2px solid #c8012e;
  cursor: default;
}
.mini_column_section:hover h3 {
  color: #fff;
  background-color: #c8012e;
}
.mini_column_section .row:hover {
  background-color: #e1e1e1;
}


h1 {
  font-family: Verdana;
  text-align: center;
  color: #c8012e;
  padding-top: 35px;
}

h2 {
  font-family: Verdana;
  text-align: center;
  color: #7b0d26;
  font-size: 16px;
}
