/* Laying out the sections of the character summary. */
.character_section {
  font-family: Verdana;
}

.character .details {
  text-align: center;
  color: #7b0d26;
  font-size: 16px;
}

/* Character navlet; links between summary and edit sections,
   but also shows a quick-view of important details while editing. */
.character .floating_nav .summary {
  float: right;
}

.character .floating_nav .points {
  font-family: Scada;
  float: right;
  clear: both;
}

.character .floating_nav .tag {
  float: left;
  font-weight: normal;
}

.character .floating_nav .value {
  float: left;
  text-align: right;
  width: 20px;
}

.character .floating_nav_shell .divider {
  clear: both;
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 2px;
}

/* Attribute panel. */
/* This covers the section headers for the various attribute panels. */
.character_section h3 {
  text-align: center;
  font-family: Scada;
  border-bottom: 2px solid #c8012e;
  cursor: default;
}
.character_section:hover h3 {
  color: #fff;
  background-color: #c8012e;
}

.character_section .tag {
  display: inline-block;
  width: 250px;
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px 5px 0;
  cursor: default;
}

.character_section .value {
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  font-weight: normal;
  text-align: right;
}

.character_section .row:hover {
  background-color: #e1e1e1;
}

/* Some fine-grained styling for the controls. */
.character_section.controls .tag {
  width: 180px;
}
.character_section.controls .value {
  width: 90px;
}

.character_section.controls .change_level {
  display: inline-block;
  margin-top: 3px;
  height: 18px;
  width: 18px;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
/* And the colors... */
.character_section.controls .change_level {
  background-color: #c1c1c1;
  cursor: default;
}
.character_section.controls .change_level.available {
  background-color: #c8012e;
  cursor: pointer;
}
.character_section.controls .change_level.available:hover {
  background-color: #107195;
}
.character_section.controls .change_level.available:active {
  background-color: #075c7b;
}

