
/* This blots out the screen. */
.dialog_mask {
  position: fixed !important;
  top: 0px !important;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 100;
}

/* This anchors the dialog. */
.dialog_modal {
  position: absolute;
  top: 100px; 
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background-color: #fff;
  z-index: 101;
  padding: 20px;
  border: 1px solid #000;
}
.dialog_modal h3 {
  margin-top: 0;
  text-align: center;
  color: #c8012e;
  font-family: Verdana;
}
.dialog_modal .tag {
  display: inline-block;
  width: 60px;
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  vertical-align: text-top;
}
.dialog_modal input.text {
  vertical-align: text-top;
  display: inline-block;
  width: 427px;
}

/* Special formatting for the big text area. */
.dialog_modal .text .tag {
  vertical-align: top;
}
.dialog_modal .text textarea {
  width: 425px;
}

/* Buttons should pull right. */
.dialog_modal .buttons {
  text-align: right;
  margin-right: 20px;
}

/* Aaaand error message styling. */
.dialog_modal .error {
  text-align: right;
  margin: 5px;
  font-weight: normal;
  right: 20px;
  position: relative;
}