/* Laying out the sections of the skill tree. */
.section {
  position: relative;
  padding: 25px;
  text-align: center;
}

.skilltree_heading {
  font-family: "Scada", sans-serif;
  font-size: 24px;
  text-align: center;
}

