<template name="character">
  <div class="character column">
    {{#if is_character_selected}}
      {{#with selected_character}}
          {{#if owns}}
            {{> character_nav}}
          {{/if}}
          <h1>{{name}}</h1>
          <h2 class="details">{{details}}</h2>
          {{#if editing}}
            {{#if owns}}
              {{> skilltree}}
            {{else}}
              <div class="error invalid_edit">You don't have permission to edit this character.</div>
            {{/if}}
          {{else}}
          {{> character_summary}}
          {{/if}}
      {{/with}}
    {{else}}
      <h1>Sorry...</h1>
      <p>That character doesn't exist yet.</p>
    {{/if}}
  </div>
</template>

<template name="character_nav">
  <div class="char_nav_shell column">
    <div class="char_nav">
      {{#if editing}}
        <div class="points skill_points">
          <div class="tag">Skill points:</div>
          <div class="value">{{skill_points_remaining}}</div>
        </div>
        <div class="points key_points">
          <div class="tag">Key points:</div>
          <div class="value">{{key_points_remaining}}</div>
        </div>
        <div class="divider"></div>
        <a href="{{pathFor 'character' name=this.name}}" class="summary">SUMMARY</a>
      {{else}}
        <a href="{{pathFor 'character' name=this.name edit='edit'}}" class="edit">EDIT</a>
      {{/if}}
    </div>
  </div>
</template>

<template name="character_summary">
  <div class="mini_column">
    {{> character_skills}}
  </div>
  <div class="mini_column">
    {{> character_attributes}}
    {{> character_devotions}}
  </div>
  <div class="mini_column">
    {{> character_controls}}
    {{> character_points}}
  </div>
</template>

<template name="character_controls">
  <div class="character_section controls">
    <h3>CONFIGURATION</h3>
    <div class="row level">
      <div class="tag">Change your level</div>
      <div class="value">
        <div class="change_level level_down {{can_level_down}}">-</div>
        <div class="change_level level_up {{can_level_up}}">+</div>
      </div>
    </div>
    <div class="row deity">
      <div class="tag">Choose your deity</div>
      <div class="value">
        <select type="text" name="set_deity">
          {{#each selectable_deities}}
            <option value="{{name}}" {{selected}}>{{name_pretty}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</template>

<template name="character_points">
  <div class="character_section points">
    <h3>POINTS REMAINING</h3>
    {{#each points}}
      <div class="row point">
        <div class="tag">{{name}}</div>
        <div class="value">{{value}}</div>
      </div>
    {{/each}}
  </div>
</template>

<template name="character_attributes">
  <div class="character_section attributes">
    <h3>ATTRIBUTES</h3>
    {{#each attributes}}
      <div class="row attribute">
        <div class="tag">{{name}}</div>
        <div class="value">{{value}}</div>
      </div>
    {{/each}}
  </div>
</template>

<template name="character_skills">
  <div class="character_section skills">
    <h3>SKILLS</h3>
    {{#each skills}}
      <div class="row skill">
        <div class="tag">{{name}}</div>
        <div class="value">{{value}}</div>
      </div>
    {{/each}}
  </div>
</template>

<template name="character_devotions">
  {{#if is_devoted}}
    <div class="character_section devotions">
      <h3>DEVOTION</h3>
      {{#each devotions}}
        <div class="row devotion">
          <div class="tag">{{name}} God</div>
          <div class="value">{{value}}</div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</template>

