<template name="characters">
  <div class="column character_list_by_owners">
    <h1>Characters</h1>
    {{#if characters_exist}}
      {{#each get_owners}}
        {{> character_owner}}
      {{/each}}
    {{else}}
      <div class="no_characters">No one's created any characters yet.</div>
    {{/if}}
  </div>
</template>

<template name="character_owner">
  <div class="mini_column mini_column_section character_collection">
    <h3 class="owner_name">{{name}}</h3>
    {{#each characters}}
      {{> owned_character}}
    {{/each}}
  </div>
</template>

<template name="owned_character">
  <div class="row owned_character">
    <a class="name" href="{{pathFor 'character' name=this.name}}">{{name_pretty}}</a>
    <div class="details">» {{details}}</div>
  </div>
</template>
