<template name="characters">
  <h1>Characters</h1>
  <div class="column character_list_by_owners">
    {{#if characters_exist}}
      {{#each get_owners}}
        {{> character_owner}}
      {{/each}}
    {{else}}
      <div class="no_characters">
        <p>{{no_characters}}</p>
      </div>
    {{/if}}
  </div>
</template>

<template name="character_owner">
  <div class="character_owner">
    <h3 class="owner_name">{{name}}</h3>
    {{#each characters}}
      {{> owned_character}}
    {{/each}}
  </div>
</template>

<template name="owned_character">
  <div class="owned_character">
    <a href="{{pathFor 'character' name=this.name}}">{{name}}</a>
  </div>
</template>
