<template name="codex_filters">
  <div class="filter_inputs column">
    {{#each get_filters}}
      {{#if is_text_filter}}
        {{name_pretty}}: <input type="text" class="text" name="query_{{name}}" value="{{value}}" />
      {{else}}
        {{name_pretty}}: <select type="text" name="query_{{name}}">
        {{#each options}}
          <option value="{{name}}" {{selected}}>{{name_pretty}}</option>
        {{/each}}
        </select>
      {{/if}}
    {{/each}}
    <input type="submit" class="submit_button" value="Filter" />
  </div>
</template>

