<template name="codex_entry">
  <div class="document {{equippable}}">
    <div class="icon activated background {{first_slot}}">
      <div class="name" contenteditable="{{can_edit}}">
        {{name_uppercase}}
      </div>
    </div>
    <div class="info">
      <div class="level">
        <div class="tag">LEVEL:</div>
        <div class="value" contenteditable="{{can_edit}}">{{level}}</div>
      </div>
      <div class="slot">
        <div class="tag">SLOT:</div>
        <div class="value" contenteditable="{{can_edit}}">{{slots_list}}</div>
      </div>
      <div class="type">
        <div class="tag">TYPE:</div>
        <div class="value" contenteditable="{{can_edit}}">{{types_list}}</div>
      </div>
      <div class="text">
        <div class="tag">TEXT:</div>
        <div class="value" contenteditable="{{can_edit}}">{{{text_with_breaks}}}</div>
      </div>
      {{#if can_edit}}
        <div class="bonuses">
          <div class="tag">BONUS:</div>
          <div class="value" contenteditable="{{can_edit}}">{{bonuses_list}}</div>
        </div>
      {{/if}}
    </div>
    {{#if can_edit}}
      <div class="button save"></div>
      <div class="button delete"></div>
      <div class="button copy"></div>
    {{/if}}
  </div>
</template>

