<template name="home">
  <div class="user_home column">
    {{#if get_user}}
      {{> user_home}}
    {{else}}
      <div class="error not_logged_in">
        <h1>Welcome to Pen & Paper</h1>
        <p>Check out existing characters, or sign in to create your own.</p>
      </div>
    {{/if}}
    {{> new_character_dialog}}
  </div>
</template>

<template name="user_home">
  <h1>Welcome, {{get_user}}</h1>
  {{#if has_characters}}
    <div class="user_characters">
      <h2>Your characters:</h2>
      {{#each characters}}
        {{> character_tile}}
      {{/each}}
      {{> new_character_tile}}
    </div>
  {{else}}
    <div class="error no_characters">You haven't created any characters yet.</div>
  {{/if}}
</template>

<template name="character_tile">
  <a class="user_character" href="{{pathFor 'character' name=this.name}}">
    <div class="name">{{name_pretty}}</div>
    <div class="details">{{details}}</div>
    <a class="button delete" href="#"></a>
  </a>
</template>

<template name="new_character_tile">
  <a class="user_character new" href="#">
    <div class="name">NEW CHARACTER</div>
    <div class="details">Click to get started</div>
  </a>
</template>

